.menuprincipal {
    background-color: #FFFFF0;
    height: 60px;
    width: 100%;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 1px;
    width: 70%;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
    float: left;
    list-style: none;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.imgcenter {
    text-align: center;
    margin-top: 25px;
    background-size: contain;
    display: block;
    position: relative;
}

.menu1 {
    width: 100%;
    margin: 0;
    background-color: palegoldenrod;
    text-align: center;
    display: inline-block;
    word-spacing: 0x;
    padding: 10px;
}

.menu1 ul {
    margin: 0px;
    list-style-type: none;
}

.menu1 ul li {
    display: inline;
    margin-right: 20px;
}

.menu1 ul li a {
    text-decoration: none;
    padding: 2px 5px;
    display: inline-block;
}

@media screen and (max-width: 500px) {


    .menu1 {
        width: 100%%;
        margin: 0;
        background-color: red;
        text-align: center;
        display: inline-block;
        padding: 10px;
    }
    .pesquisa1 {
        display: inline-block;
        text-align: left;
    }

